# Arquivos de ambiente
.env
.env.*

# Banco de dados
*.sqlite3
db.sqlite3

# Pastas de dependências e arquivos gerados
venv/
__pycache__/
*.pyc

# Pastas de arquivos de mídia e estáticos coletados
media/
staticfiles/

# Dados gerados pela IA
banco_faiss/

# Arquivos de IDE
.idea/
.vscode/